<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Order Confirmation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>
			Order Number: #<span th:text="${order.id}"> </span>
		</h1>
		<p>
			Instant: <span
				th:text="${#dates.format(order.instant, 'yyyy/MM/dd hh:mm')}"></span>
		</p>
		<p>
			Customer: <span th:text="${order.customer.name}"></span>
		</p>
		<p>
			Payment Status: <span
				th:text="${order.payment.paymentStatus.description}"></span>
		</p>
		<h3>Order Details:</h3>
		<table border="1">
			<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Unit Price</th>
				<th>Unit Discount</th>
				<th>Subtotal</th>
			</tr>
			<tr th:each="item : ${order.orderItems}">
				<td th:text="${item.product.name}">nome</td>
				<td th:text="${item.quantity}">quantidade</td>
				<td
					th:text="${#numbers.formatDecimal(item.price, 0, 'POINT', 2, 'COMMA')}">price</td>
				<td
					th:text="${#numbers.formatDecimal(item.discount, 0, 'POINT', 2, 'COMMA')}">discount</td>
				<td
					th:text="${#numbers.formatDecimal(item.subTotal, 0, 'POINT', 2, 'COMMA')}">subTotal</td>
			</tr>
		</table>
		<p>
			Total: <span
				th:text="${#numbers.formatDecimal(order.total, 0, 'POINT', 2, 'COMMA')}"></span>
		</p>
	</div>
</body>
</html>